@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap'); 
/* Navbar styles */
.navbar {
    z-index: 100;
    position: sticky;
    top: 0;
    display: flex;
    background-color: rgb(0, 0, 0);
}

/* Logo styles */
.logo {
    color: white;
    margin-left: 0.5rem;
}

.logo img {
    width: 290px;
    height: 45px;
    margin-top: 0rem;

 }

/* Navigation styles */
ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content:flex-end;
}

ul li {
    list-style: none;
}

.custom-btn {
    text-decoration: none;
    color: white;  
    background-color: rgb(111, 215, 62);
    font-size: 1rem;
    border-radius: 5px;
    padding: 0.5rem;
    width: 8rem;
    text-align: center;
    font-weight: 600;
    display: block;
}

.custom-btn:hover {
    background-color: rgb(86, 157, 16);
}

/* Hamburger menu styles */
  .menu-icon {
    display: none; /* Hide by default on larger screens */
    cursor: pointer;
    padding: 1rem;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 2s;
  }

  .close-icon{
    display: none;
    cursor: pointer;
    color: white;
    font-size: 3rem;
  }


  /* Responsive styles */
@media only screen and (max-width: 768px) {
    .menu-icon {
      display: block; /* Show on smaller screens */
    }
  
    .nav-links {
      display: none;
      flex-direction: column;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background-color: rgb(0, 0, 0);
      z-index: 1;
    }
  
    .nav-links.open {
      display: flex;
    }
  
    .nav-links li {
      margin: 0.5rem;
    }

    .close-icon {
        display: block;
    }

    .logo img {
       width: 250px;
       height: 40px;
    }

    .custom-btn {
        margin: 0.5rem;
        font-size: 1rem;
        width: 7rem;
    }
  }

  @media (min-width: 768px) and (max-width: 1182px) {
    .custom-btn {
      margin: 0.5rem;
      font-size: 1rem;
      width: 7rem;
  }
  }